*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #6b6a6a;
}
.joiner_form {
  display: flex;
  align-items: center;
  margin: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form_controls {
  display: flex;
  flex-direction: column;
  background: #d4d4d4;
  width: 25%;
  padding: 1rem 0 3rem 0;
  border-radius: 0.5rem;
}

.form_title {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}
.inp {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
}
.name_input, .room_input {
  width: 75%;
  border: none;
  outline: none;
  padding: 0.4rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

/*button*/
.button_block {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 1rem;
}
.bor {
  position: absolute;
  border: 1px solid #a1a1a1;
  border-radius: 0.3rem;
  border-top: none;
  border-left: none;
  height: 1.8rem;
  width: 4rem;
  box-sizing: border-box;
  z-index: 1;
}
.btn {
  cursor: pointer;
  position: absolute;
  border: 1px solid #6b6b6b;
  color: #6b6b6b;
  border-radius: 0.3rem;
  outline: none;
  background-color: transparent;
  height: 1.8rem;
  width: 4rem;
  font-family: 'Courier New', Courier, monospace;
  transform: translate(-3px, -3px);
  transition: all ease 0.3s;
  z-index: 2;
}
.btn:hover {
  transition: all ease 0.3s;
  transform: translate(0, 0);
  background-color: #000000;
  font-weight: 600;
  color: #ffffff;
}


.chat {
  position: relative;
  border: 1px solid black;
  width: 50%;
  margin: 1rem;
  height: 24rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.chat_form {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.chat_form input {
  width: 80%;
  border: none;
  outline: none;
  padding: 1rem;
}
.chat_form button {
  width: 20%;
  border: none;
  outline: none;
  padding: 1rem;
}
.infoBar {
  position: absolute;
  background: #fff;
  width: 100%;
  padding: 0.8rem;
}
.info_icons {
  position: absolute;
  right: 0.3rem;
  top: 1rem;
}
.icon_globe, .icon_trash {
  padding-right: 1rem;
  cursor: pointer;
}
.icon_globe {
  color: #2ecf0e;
}
.messages {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 16rem;
  overflow-y: scroll;
}
.rightSide {
  background: #2e2e2e;
  color: #ffffff;
  padding: 0.5rem;
  width: 50%;
  margin-left: 5%;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
.leftSide {
  background: #535353;
  color: #ffffff;
  padding: 0.5rem;
  width: 50%;
  margin-left: 45%;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
.rightSide > p, .leftSide > p {
  width: 100%;
}
.chatcontent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.onlineusers {
  margin: auto;
}
.onUsers {
  background: rgb(85, 85, 85);
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 700px) {
  .form_controls {
    display: flex;
    flex-direction: column;
    background: #d4d4d4;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0.5rem;
  }
  .chat {
    width: 100%;
  }
  .onlineusers {
    width: 100%;
  }
}
